.main-contact{
    width: 100%;
    height: 100vh;
    max-height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 10px;
    .links{
        background-color: #fff;
        padding: 10px;
        padding-left: 11px;
        padding-top: 12px;
        display: flex; 
        align-items: center;
        justify-content: flex-start;
        border-radius: 5px;
        -moz-box-shadow: 0px 5px 11px -5px rgba(34, 60, 80, 0.6);
        -webkit-box-shadow: 0px 5px 11px -5px rgba(34, 60, 80, 0.6);
        box-shadow: 0px 5px 11px -5px rgba(34, 60, 80, 0.6);
        transition: .05s;
        
        @media (max-width:569px) {
           position: fixed;
           width: 42px;
           height: 42px;
           border-radius: 50%;
           background: #fff;
           overflow: hidden;
           top: 10px;
           left: 10px;
           .curtain{
            position: relative;
            width: 40px;
            height: 40px;
            
            z-index: 3;
            left: 0;
        }
           &:hover{
            width: auto;
            border-radius: 5px;
           }
           &:hover ul .bg{
            display: none;
           }
        }
        
        ul{
            @media (max-width:569px) {
                display: flex;
                gap: 20px;
            }
            .bg{
                width: 50px;
                height: 50px;
                background-color: rgba(255,255,255,0.1);
                position: absolute;
                left: 0px;
                top: 0px;
                z-index: 2;
            }
            li{
               
                a{
                    color: rgb(61, 65, 194);
                    transition: .4s;
                    font-size: 20px;
                    
                    &:hover{
                        color: rgb(38, 136, 182);
                    }
                }
            }
        }
    }
    .bg{
        position: absolute;
        background-color: rgb(240, 247, 228);
        width: 100%;
        height: 100vh;
        z-index: -1;
        .shade1{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background-color: rgb(34, 81, 161);
            filter: blur(15px);
            position: relative;
            left: 23%;
        }
        .shade2{
            width: 250px;
            height: 250px;
            border-radius: 50%;
            background-color: rgb(34, 161, 40);
            filter: blur(15px);
            position: relative;
            left: 60%;
        }
        .shade3{
            width: 300px;
            height: 300px;
            border-radius: 50%;
            background-color: rgb(151, 33, 141);
            filter: blur(15px);
            position: relative;
            left:20%;
            bottom: 200px;
        }
    }
    .filed{
        background-color: #fff;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width:500px ;
        padding: 20px;
        margin: 10px;
        -webkit-box-shadow: 0px 5px 11px -5px rgba(34, 60, 80, 0.6);
-moz-box-shadow: 0px 5px 11px -5px rgba(34, 60, 80, 0.6);
box-shadow: 0px 5px 11px -5px rgba(34, 60, 80, 0.6);
        border-radius: 10px;
       
        .drefuz-title{
            display: flex;
            align-items: center;
            justify-content: center;
            color: #3b5180;
            img{
                width: 60px;
            }
        }
        label{
            font-size: 13px;
            color: rgb(88, 88, 88);
            
        }
        select{
            height: 30px;
        }
        input{
            height: 30px;
            border: 1px solid gray;
            outline: none;
            border-radius: 8px;
            padding: 0 10px ;
            @media (max-width:569px) {
            
            }
            
            &::placeholder{
                font-size: 14px;
                color: rgb(118, 118, 118);
            }
            &:focus::placeholder{
                color: #000;
                
            }
        }
        .btn{
            background: rgb(255, 255, 255);
            transition: .3s;
            &:hover{
                background: rgb(34, 161, 40);
                color: #fff;
            }
        }
        textarea{
            padding: 10px;
            outline: none;
            border-radius: 5px;
            &:focus{
                border: 2px solid rgb(34, 161, 40);
            }
        }
        
    }
}