.main-contact {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-wrap: wrap;
  gap: 10px;
}
.main-contact .links {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 5px 11px -5px rgba(34, 60, 80, 0.6);
}
@media (max-width: 569px) {
  .main-contact .links ul {
    display: flex;
    gap: 20px;
  }
}
.main-contact .links ul li a {
  color: rgb(61, 65, 194);
  transition: 0.4s;
  font-size: 20px;
}
.main-contact .links ul li a:hover {
  color: rgb(38, 136, 182);
}
.main-contact .bg {
  position: absolute;
  background-color: rgb(240, 247, 228);
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.main-contact .bg .shade1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(34, 81, 161);
  filter: blur(15px);
  position: relative;
  left: 23%;
}
.main-contact .bg .shade2 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgb(34, 161, 40);
  filter: blur(15px);
  position: relative;
  left: 60%;
}
.main-contact .bg .shade3 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: rgb(151, 33, 141);
  filter: blur(15px);
  position: relative;
  left: 20%;
  bottom: 200px;
}
.main-contact .filed {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0px 5px 11px -5px rgba(34, 60, 80, 0.6);
  border-radius: 10px;
}
.main-contact .filed .drefuz-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(100, 216, 76);
}
.main-contact .filed .drefuz-title img {
  width: 60px;
}
.main-contact .filed label {
  font-size: 13px;
  color: rgb(59, 59, 59);
}
@media (max-width: 569px) {
  .main-contact .filed label {
    font-size: 18px;
  }
}
.main-contact .filed input {
  height: 35px;
  border: 1px solid gray;
  outline: none;
  border-radius: 8px;
  padding: 0 10px;
}
.main-contact .filed input::-moz-placeholder {
  font-size: 13px;
  color: rgb(118, 118, 118);
}
.main-contact .filed input:-ms-input-placeholder {
  font-size: 13px;
  color: rgb(118, 118, 118);
}
.main-contact .filed input::placeholder {
  font-size: 13px;
  color: rgb(118, 118, 118);
}
.main-contact .filed input:focus::-moz-placeholder {
  color: #000;
}
.main-contact .filed input:focus:-ms-input-placeholder {
  color: #000;
}
.main-contact .filed input:focus::placeholder {
  color: #000;
}
.main-contact .filed .btn {
  background: rgb(255, 255, 255);
  transition: 0.3s;
}
.main-contact .filed .btn:hover {
  background: rgb(34, 161, 40);
  color: #fff;
}
.main-contact .filed textarea {
  padding: 10px;
  outline: none;
  border-radius: 5px;
}
.main-contact .filed textarea:focus {
  border: 2px solid rgb(34, 161, 40);
}

.danger-alert {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translate(0%, 0%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  padding: 20px;
  color: #fff;
  font-size: 15px;
  border-radius: 5px;
  transition: 0.5s;
}
.danger-alert.active {
  display: flex;
}
.danger-alert .lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.danger-alert .lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.danger-alert .lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
@-webkit-keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.wrapper-succsess {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: absolute;
}
.wrapper-succsess.active {
  display: flex;
}
.wrapper-succsess .succsess {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  transform: translate(0, 0);
  width: auto;
  height: auto;
  padding: 10px 20px;
  background-color: rgb(31, 187, 39);
  font-size: 17px;
  border-radius: 5px;
  color: #fff;
}
.wrapper-succsess .succsess.active {
  display: flex;
}
.wrapper-succsess .succsess .check-icon {
  font-size: 30px;
  -webkit-animation: anim-check 0.6s linear;
          animation: anim-check 0.6s linear;
}
@-webkit-keyframes anim-check {
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes anim-check {
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrapper-error {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: absolute;
}
.wrapper-error.active {
  display: flex;
}
.wrapper-error .error {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  transform: translate(0, 0);
  width: auto;
  height: auto;
  padding: 10px 20px;
  background-color: rgb(205, 55, 55);
  font-size: 17px;
  border-radius: 5px;
  color: #fff;
}
.wrapper-error .error.active {
  display: flex;
}
.wrapper-error .error .check-icon {
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */