.main-contact {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.main-contact .bg {
  position: absolute;
  background-color: rgb(240, 247, 228);
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.main-contact .bg .shade1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(34, 81, 161);
  filter: blur(15px);
  position: relative;
  left: 23%;
}
.main-contact .bg .shade2 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgb(34, 161, 40);
  filter: blur(15px);
  position: relative;
  left: 60%;
}
.main-contact .bg .shade3 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: rgb(151, 33, 141);
  filter: blur(15px);
  position: relative;
  left: 20%;
  bottom: 200px;
}
.main-contact .filed {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  padding: 20px;
  box-shadow: 0px 5px 11px -5px rgba(34, 60, 80, 0.6);
  border-radius: 10px;
}
.main-contact .filed label {
  font-size: 11px;
}
.main-contact .filed input {
  height: 30px;
  border: 1px solid gray;
  outline: none;
  border-radius: 8px;
  padding: 0 10px;
}
.main-contact .filed input::-moz-placeholder {
  font-size: 13px;
  color: rgb(81, 81, 81);
}
.main-contact .filed input:-ms-input-placeholder {
  font-size: 13px;
  color: rgb(81, 81, 81);
}
.main-contact .filed input::placeholder {
  font-size: 13px;
  color: rgb(81, 81, 81);
}
.main-contact .filed input:focus::-moz-placeholder {
  color: #000;
}
.main-contact .filed input:focus:-ms-input-placeholder {
  color: #000;
}
.main-contact .filed input:focus::placeholder {
  color: #000;
}
.main-contact .filed textarea {
  padding: 10px;
  outline: none;
}
.main-contact .filed textarea:focus {
  border-color: rgb(30, 198, 63);
}

.danger-alert {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translate(0%, 0%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  padding: 20px;
  color: #fff;
  font-size: 15px;
  border-radius: 5px;
  transition: 0.5s;
}
.danger-alert.active {
  display: flex;
}
.danger-alert .lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.danger-alert .lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.danger-alert .lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
@-webkit-keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.succsess {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 200px;
  height: auto;
  padding: 10px 20px;
  background-color: rgb(31, 187, 39);
  font-size: 12px;
  border-radius: 5px;
  color: #fff;
}
.succsess.active {
  display: flex;
}/*# sourceMappingURL=style.css.map */